$red: #af1f24;
$straw: #f9f4db;
$heading: "Raleway", sans-serif;
$body: "Inter", sans-serif;
$btn-padding: 0.65em 1em;
$padding: 2em 3em;
$radius: 8px;
$box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
$btn-icon-mr: 0.5em;
$transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Mixins
@mixin padding() {
  $ratio: 1.5;
  padding: 4px 4px * $ratio;
  @media (min-width: $sm) {
    padding: 8px 8px * $ratio;
  }
  @media (min-width: $md) {
    padding: 16px 16px * $ratio;
  }
  @media (min-width: $lg) {
    padding: 32px 32px * $ratio;
  }
}

// Typography

// CONTAINER
// * {
//   box-sizing: border-box;
// }
// body {
//   margin: 0 auto;
//   background: #ffffff;
//   max-width: 1200px;
// }
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
// Container
h1.title {
  display: none;
}

.c {
  &__container {
    position: relative;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-size: clamp(16px, #{"16px + 0.1vw"}, 21px);
    line-height: 1.5;
    @include padding;
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Raleway", sans-serif;
    }
    h1 {
      font-size: 2em;
      @media (min-width: $sm) {
        font-size: 3em;
      }
      line-height: 1.1 !important;
      margin: 0;
      font-weight: 700;
    }
    h2 {
      font-size: 1.5em;
      @media (min-width: $sm) {
        font-size: 2.5em;
      }
      line-height: 1.2 !important;
      margin: 0;
    }
    h3,
    .h3 {
      font-size: 1.25em;
      @media (min-width: $sm) {
        font-size: 1.5em;
      }
      line-height: 1.2;
      margin: 0;
    }
  }
}

.c {
  &__sharebar {
    margin: 2em 0;
    @media (min-width: $sm) {
      float: right;
      margin: 0 0 2em;
    }
    p {
      margin: 0 0.5em 0 0;
      font-size: 15px;
      text-transform: uppercase;
    }
    a {
      margin: 0 1em 0 0;
      text-decoration: none;
    }
    div:last-child {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
  &__fb {
    color: #3b5998;
  }
  &__tw {
    color: #1da1f2;
  }
  &__li {
    color: #0077b5;
  }
}

// HEADER
.c {
  &__header {
    display: flex;
    margin-bottom: 5em;
    background: #ffffff;
    min-height: 20em;
    min-height: 300px;
    color: #ffffff;
    background: $red;
    border-radius: $radius;
    box-shadow: $box-shadow-sm;
    clear: both;
    padding: 1em;

    &--left,
    &--right {
      @include padding;
      @media (min-width: $md) {
        width: 50%;
        flex-shrink: 0;
      }
    }
    &--left {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      h1 {
        margin: 0;
        color: #ffffff;
      }
      p {
        margin: 0.5em 0 3em;
        color: #f5f5f5;
      }
      a {
        margin-top: auto;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        color: #000;
        cursor: pointer;
        padding: $btn-padding;
        background: $straw;
        font-family: $body;
        font-weight: 700;
        font-size: 15px;
        border: none;
        border-radius: $radius;
        box-shadow: $box-shadow;
        transition: box-shadow $transition;
        svg {
          margin-right: $btn-icon-mr;
        }
        &:hover {
          box-shadow: $box-shadow-lg;
          text-decoration: none;
        }
      }
    }
    &--right {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      min-height: 300px;
      min-width: 15%;
      @media (min-width: $md) {
        padding: 0;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 100%;
        height: 100% !important;
        filter: drop-shadow(-3px 3px 5px rgba(0, 0, 0, 0.15));
        @media (min-width: $md) {
          height: 115% !important;
        }
        transform: translate3d(-50%, -50%, 0) scaleX(-1);
      }
    }
  }
}

// SUBHEADER
h2.c__subheader {
  font-weight: 700;
  margin-left: 0.5em;
  letter-spacing: 0.5px;
}
// CONTENT
.c {
  &__content {
    width: 25em;
    max-width: calc(100% - 12px);
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0.5em;
    @media (min-width: $sm) {
      margin: 1em;
    }
    border-radius: $radius;
    box-shadow: $box-shadow-lg;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &--container {
      display: flex;
      margin-bottom: 5em;
      overflow: auto;
      background-color: $straw;
      border-radius: $radius;
      @include padding;
      scrollbar-width: 1em;
      scrollbar-color: scale-color($straw, $lightness: -50%) transparent;
      box-shadow: $box-shadow-sm;

      &::-webkit-scrollbar {
        width: 1em;
      }
      &::-webkit-scrollbar-track {
        border-radius: $radius;

        border: 1px solid scale-color($straw, $lightness: -50%);
      }
      &::-webkit-scrollbar-thumb {
        background-color: scale-color($straw, $lightness: -50%);
        border-radius: $radius;
      }
      &--video {
        @extend .c__content--container;
        background: $red;
      }
      &--podcast {
        @extend .c__content--container;
        background: rgb(94, 94, 94);
      }
      &--other {
        @extend .c__content--container;
        background: rgb(174, 174, 174);
      }
      &--syllabi {
        @extend .c__content--container;
        background: rgb(94, 94, 94);
      }
    }

    header {
      height: 8em;
      @media (min-width: $sm) {
        height: 12em;
      }
      margin-bottom: 1em;
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
      width: 100%;
      border-bottom: 1px solid rgba(172, 172, 172, 0.25);

      img {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        height: 100% !important;
        width: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
    &--body,
    footer {
      padding: 1em 2em;
    }
    &--title {
      font-size: 1.25em;
      line-height: 1.4;
      font-weight: 600;
      text-decoration: none;
      color: #000000;
      height: 2.8em;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &--authors {
      color: #474747;
      line-height: 1.2;
      font-size: 90%;
      margin-top: 0.25em;
    }
    &--description {
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-weight: 100;
      font-size: #{"max(16px, 80%)"};
      margin: 20px 0 0;
    }
    &--submitter {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-end;
      flex-direction: column;
      font-family: inherit;
      font-size: inherit;
      border: none;
      box-shadow: none;
      background: none;
      position: relative;
      cursor: pointer;
      transition: color 0.2s;

      &:hover p {
        color: #000;
      }
      p {
        margin: 0;
        color: rgb(94, 94, 94);
        font-size: 15px;
        text-align: right;
        line-height: 1.2;
      }
      a {
        margin-left: 0.75em;
        &:first-child {
          margin-left: 0;
        }
      }
      svg {
        height: 1.1em;
        width: 1.1em;
      }
    }
    footer {
      margin-top: auto;
      padding-top: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }
    &--btn {
      padding: $btn-padding;
      font-family: $body;
      font-size: #{"max(0.8em, 14px)"};
      line-height: 1;
      background: $red;
      color: #ffffff;
      text-decoration: none;
      border-radius: $radius;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background $transition, color $transition;
      &:hover {
        background: scale-color($color: $red, $lightness: -50%);
        color: #ffffff;
        text-decoration: none;
        svg {
          color: $straw;
        }
      }
      svg {
        margin-right: $btn-icon-mr;
        height: 1em;
      }
    }
  }
}
.c__sm {
  opacity: 0;
  padding: $btn-padding;
  background: #fff;
  pointer-events: none;
  // box-shadow: $box-shadow;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.1));
  position: absolute;
  left: 50%;
  min-width: 100%;
  top: 0;
  transform: translate(-50%, calc(-100% - 10px));
  border-radius: $radius;
  line-height: 1;
  transition: opacity 0.2s;
  &:after {
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
  }
  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}
.c__spacer {
  @include padding;
}

// Switch
.c__view {
  display: flex;
  align-items: center;
  font-size: 13px;
}
.tgl {
  display: none;
  font-size: 15px;
  // add default box-sizing for this scope
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .tgl-btn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }

  + .tgl-btn {
    outline: 0;
    display: inline-block;
    width: 4em;
    height: 2em;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }

    &:after {
      left: 0;
    }

    &:before {
      display: none;
    }
  }

  &:checked + .tgl-btn:after {
    left: 50%;
  }
}

.tgl-ios {
  + .tgl-btn {
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
    border: 1px solid #e8eae9;
    &:after {
      border-radius: 2em;
      background: #fbfbfb;
      transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        padding 0.3s ease, margin 0.3s ease;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
    }

    &:hover:after {
      will-change: padding;
    }

    &:active {
      box-shadow: inset 0 0 0 2em #e8eae9;
      &:after {
        padding-right: 0.8em;
      }
    }
  }

  &:checked + .tgl-btn {
    background: $straw;
    &:active {
      box-shadow: none;
      &:after {
        margin-left: -0.8em;
      }
    }
  }
}
.c__list {
  display: none;
}
.tgl {
  & ~ .list {
    opacity: 0.5;
  }
  &:checked {
    & ~ .gallery {
      opacity: 0.5;
    }
    & ~ .c__gallery {
      display: none;
    }
    & ~ .list {
      opacity: 1;
    }
    & ~ .c__list {
      display: block;
    }
  }
}

.gallery,
.list {
  position: absolute;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 2em;
  vertical-align: top;
  display: inline-block;
  opacity: 1;
  transition: opacity 0.2s;
  width: 120px;
  svg {
    vertical-align: middle;
    margin-right: 0.45em;
    transform: translateY(-1.5px);
  }
}

.tgl-btn {
  left: 120px;
}
.list {
  left: (8px * 1.5) + 60px + 130px;
  @media (min-width: $md) {
    left: (16px * 1.5) + 60px + 130px;
  }
  @media (min-width: $lg) {
    left: (32px * 1.5) + 60px + 130px;
  }
}
// .c__list

.gallery {
  left: 8px * 1.5;
  @media (min-width: $md) {
    left: 16px * 1.5;
  }
  @media (min-width: $lg) {
    left: 32px * 1.5;
  }
}

// Embed
.c__embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  border-bottom: 1px solid rgba(172, 172, 172, 0.25);
  iframe,
  object,
  embed,
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  a {
    padding: 1em;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
