
  <hr />
  <h2>Syllabi</h2>
  <section>
    {% for title in syllabi %} 
    <ul>
      <li><a href="{{title.link}}">{{title.title}}</a>. {{title.authors}}</li>
    </ul>
    {% endfor %}
  </section>
  <hr />

  <h2>Articles</h2>
  <section >
    {% for title in articleData.articles %}  <ul>
      <li><a href="{{title.link}}">{{title.title}}</a>. {{title.authors}}</li>
    </ul>{%
    endfor %}
  </section>
  <hr />

  <h3>
    Articles from <em>History and Philosophy of the Life Sciences</em>
  </h3>
  <section >
    {% for title in articleData["History and Philosophy of the Life Sciences"]
    %} <ul>
      <li><a href="{{title.link}}">{{title.title}}</a>. {{title.authors}}</li>
    </ul> {% endfor %}
  </section>
  <hr />

  <h2 >Videos</h2>
  <section>
    {% for title in videoData %} <ul>
      <li><a href="{{title.link}}">{{title.title}}</a>. {{title.authors}}</li>
    </ul> {% endfor %}
  </section>
  <hr />

  <h2 >Other</h2>
  <section>
    {% for title in otherData %} <ul>
      <li><a href="{{title.link}}">{{title.title}}</a>. {{title.authors}}</li>
    </ul> {% endfor %}
  </section>
</div>
